<section class="about"> 
<!--   {% if include.divider == true %} -->
  <div class="wrap">
    <hr/>
  </div>
<!--     {% endif %} -->
  <div class="wrap grid">

    <div class="about__image bottom-column">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      <!-- {% include component-socials.html %} -->
    </div>

    <div class="about__content bottom-column">
      <a name="about"></a>
      <h2 class="title">Hi, I’m Jessica.</h2>
      <p class="subtitle subtitle--light">I’m a product designer and strategist<!-- specializing in digital products for health and social issues -->. I am addicted to prototyping and collecting feedback to improve my designs through user research. 
      </p>

      <p>
        Before working in product, I was pursuing a PhD in human-robot interaction because I'm fascinated by how humans interact with technology. But along the way I fell in love with user experience. I learned best UX practices by working with Jaime Levy to write the latest edition of her best-selling book, <i>UX Strategy</i> (and you can <a class="about__link" href="https://youtube.com/playlist?list=PL48Xnyp-G0hvJENdzcbzwU-FieYrP8nPu" target="_blank">watch the whole thing unfold on YouTube</a>), and I put those skills to use to help my freelance clients to identify areas for growth in existing products and bring new product ideas to life.
      </p>
      
      <p>
        Currently I'm designing thoughtful experiences and learning more about product development as a Product Designer and Product Owner at <a class="about__link" href="https://www.arraylive.com/" target="_blank">Array</a>.
      </p>

      <!-- <p>
        I’m passionate about devising clean, straightforward designs backed by research that meet the users needs as well as your business goals.
      </p> -->

      <p>In my spare time you can find me playing with my dog Bandit, scouring the thrift store for my next find, or making some art (like the illustration at the top of this page).</p>

      <!-- <p>Have a question or want to connect?</p> -->

      <!-- <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a> -->
    </div>
  </div>
</section>